
body {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header, footer {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

img.profile-image {
    max-height: 15rem;
    border-radius: 100%;
    margin: 0 0 0 0;
    filter: grayscale(100%);
    transition: filter 500ms;
}

img.profile-image:hover {
    filter: grayscale(0%);
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: -0.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

.outline:hover {
    -webkit-text-stroke: 0.01rem black;
    -webkit-text-fill-color: white;
}

h2 {
    font-size: 1.25rem;
    font-weight: lighter;
    letter-spacing: -0.06rem;
    margin-top: 0;
    margin-bottom: 0;
}

article {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    display: grid;
    grid-column-gap: 2em;
    justify-content: center;
}

@media (max-width: 1000px) and (orientation: portrait) {
    article {
        font-size: 1rem;
        margin: 1rem 1rem 1rem 1rem;
    }
}

section {
    max-width: 50rem;
}

p.opening {
    font-size: 1.25em;
    font-weight: lighter;
}

div.showcase {
    padding: 1em 2em 1em 2em;
    text-align: center;
    background-color: #f8f8f8;
    transition: background-color 500ms;
}

div.showcase:hover {
    background-color: white;
}

@media (max-width: 1000px) and (orientation: portrait) {
    div.showcase {
        padding: 1rem 1rem 1rem 0;
    }
}

ul {
    list-style-type: none;
}

li {
    padding-bottom: 0.75rem;
}

li:before {
    content: '○';
    width: 1em;
    padding-right: 0.25em;
    display: inline-block;
}

ul.showcase {
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
    font-size: 0.9em;
}

ul.showcase li:before {
    content: '▶︎';
    width: 1em;
    padding-right: 0.25em;
    display: inline-block;
}

@media (max-width: 1000px) and (orientation: portrait) {
    ul.showcase li:before {
        width: 0.8em;
        font-size: 2em;
    }
}

img.icon {
    max-height: 3em;
    max-width: 3em;
    margin: 0 1em 0 0;
    filter: grayscale(100%);
    transition: filter 500ms;
    vertical-align: middle;
}

img.icon:hover {
    filter: grayscale(0%);
}

img.icon.large {
    max-height: 6em;
    max-width: 8em;
    margin-left: 1em;
    margin-top: 1em;
}

img.icon.bordered {
    border-style: solid;
    border-width: 1px;
}

div.copyright {
    font-size: 0.75em;
    font-weight: lighter;
    margin: 1em 0 0 0;
}
