
body {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header, footer {
    width: 100%;
    padding: 3em;
    color: white;
    background-color: #333;
    box-shadow: -1px 2px 5px #333;
}

img.profile-image {
    max-height: 14em;
    border-radius: 50%;
    margin: 0 0 0 100px;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin: 0 0 0 100px;
}

h2 {
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: -0.06em;
    width: 50%;
    margin: 0 0 0 100px;
}

article {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    grid-column-gap: 2em;
    margin: 3rem 10rem 3rem 10rem;
}

@media (max-width: 1000px) {
    article {
        font-size: 3em;
        margin: 1rem 1rem 1rem 3rem;
    }
}

p.opening {
    font-size: 1.25em;
    font-weight: lighter;
}

div.showcase {
    background-color: #f8f8f8;
    padding: 1em 3em 1em 3em;
    text-align: center;
}

@media (max-width: 1000px) {
    div.showcase {
        padding: 1em 1em 1em 0em;
    }
}

ul {
    list-style-type: none;
}

li:before {
    content: '—';
    width: 1em;
    padding-right: 0.25em;
    display: inline-block;
}

ul.showcase {
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
    font-size: 0.9em;
}

ul.showcase li:before {
    content: '▶︎';
    width: 1em;
    padding-right: 0.25em;
    display: inline-block;
}

@media (max-width: 1000px) {
    ul.showcase {
        font-size: 0.4em;
    }
    ul.showcase li:before {
        width: 0.4em;
    }
}

img.icon {
    max-height: 3em;
    max-width: 3em;
    margin: 0 1em 0 0;
    filter: grayscale(100%);
    vertical-align: middle;
}

img.icon.large {
    max-height: 4em;
    max-width: 6em;
    margin-left: 1em;
    margin-top: 1em;
}

img.icon.bordered {
    border-style: solid;
    border-width: 1px;
}

div.copyright {
    font-size: 0.75em;
    font-weight: lighter;
    margin: 1em 0 0 0;
}

@media (max-width: 1000px) {
    header, footer {
        font-size: 1.5em;
    }
}
