
body {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header, footer {
    width: 100%;
    padding: 3em;
    color: white;
    background-color: #333;
    box-shadow: -1px 2px 5px #333;
}

img.profile-image {
    max-height: 14em;
    border-radius: 50%;
    margin: 0 0 0 100px;
}

h1 {
    font-size: 7em;
    font-weight: bold;
    letter-spacing: -0.07em;
    margin: 0 0 0 100px;
}

h2 {
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: -0.06em;
    width: 50%;
    margin: 0 0 0 100px;
}

article {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    line-height: 150%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    grid-column-gap: 2em;
    margin: 3em 10em 3em 10em;
}

div.showcase {
    background-color: #f8f8f8;
    padding: 1em 3em 1em 3em;
    text-align: center;
}

ul {
    list-style-type: none;
}

li:before {
    content: '—';
    width: 1em;
    padding-right: 0.25em;
    display: inline-block;
}

ul.showcase {
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
    font-size: 0.8em;
}

ul.showcase li:before {
    content: '▶︎';
    width: 1em;
    padding-right: 0.25em;
    display: inline-block;
}

img.icon {
    max-height: 3em;
    max-width: 3em;
    margin: 0 1em 0 0;
    filter: grayscale(100%);
    vertical-align: middle;
}

img.icon.large {
    max-height: 4em;
    max-width: 6em;
    margin-left: 1em;
}

div.copyright {
    font-size: 0.75em;
    font-weight: lighter;
    margin: 1em 0 0 0;
}