
body {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    margin: 0;
    padding: 1em;
}

main {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

section {
    margin-bottom: 4rem;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

header, footer {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: -0.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 2.0rem;
    font-weight: lighter;
    letter-spacing: -0.10rem;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: -0.05rem;
    margin-top: 0;
    margin-bottom: 0;
}

.thumbnail {
    object-fit: cover;
    height: 20rem;
    width: 20rem;
}

@media (max-width: 1000px) and (orientation: portrait) {
    .thumbnail {
        object-fit: cover;
        height: 10rem;
        width: 10rem;
    }
}
